<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeaveAttendance</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="about">This is the leave and attendance manager app which right now returns the hard coded values.</p>
        
    </div>
</body>
</html>