<header>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    &ensp;
    <a href="/absentDays">Absent Days</a>
    &ensp;
    <a href="/absentDetails">Absent Details</a>
    &ensp;
    <a href="/leaveBalance">Leave Balance</a>
    &ensp;
    <a href="/holidayCalender">Holiday Calender</a>

</header>